<h1>Help Page</h1>
<br></br>
<pre>
1 - Gem files - are all the packages included in app ie: 
	rails 4.2.5
	sqlite3
	sass-rails 5.0
	coffee-rails 4.1.0
2 - Pulled from rubygems.org
3 - Bundler is used to install gems (bundler install)
4 - Gemfile.lock holds all the dependencies


5 - database.yml - is what database we will be using and what environment the database is defined in.

6 - Migrations goes in db.
	files that we use to create or update database

7 - Class is a collection of method or collection of functionality

8 - Ruby on rails is full og magic - we need to resist this. We will right everything out so we understand everything.
	We want to manually create files - so we can bend the code to our will.
	Migrations are tracked by file names, so we need to use a generater for this.

9 - Action is method

10 - View is everything you see in your browser.
	normal page - hello.html
	rails page - hello.html.erb - erb means you can write ruby code in these views

Views -> layouts -> application.html.erb -> this is your wrapper file, all of your views will be included in this file.

Everything you write in your application.html.erb file will display in each .html.erb files
	In the body of your application.htlm.erb file there is a <%=yield%> section where all of 	your views show up.
</pre>